h1
    text-align: center
    background: black
    padding: 8px 0
    color: white
    margin: 0

.todos
    display: flex
    justify-content: space-between
    padding: 6px 0
    margin: 10px 0 0 0

ul
    border: 6px solid darkslateblue
    background: floralwhite
    width: 50%
    margin: 0
    margin-right: 12px
    padding: 12px

li
    list-style: none
    cursor: pointer
    line-height: 1
    padding: 1px 0

    p:hover 
        color: darkslateblue

.filter-buttons
    display: flex
    flex-direction: column
    width: 40%
    height: 110px
    justify-content: space-between

input
    background: none
    border: 2px solid black
    color: black
    height: 32px
    font-weight: 500
    cursor: pointer

.todo 
    color: black
    font-size: 22px
    margin: 4px 0
    font-family: Trebuchet MS
    font-weight: 600

.checked 
    text-decoration: line-through
    color: darkslateblue
